<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App - Manage Customers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>





    <div class="container mt-5">
        <h2>Books</h2>
        <!-- Search form -->
        <div class="form-group">
            <label for="searchOption">Search by:</label>
            <select class="form-control" id="searchOption" style="width: 150px;">
                <option value="title">Name</option>
                <option value="id">ID</option>
                <option value="author">Author</option>
                <option value="year_published">Year Published</option>
            </select>
            <label for="searchBox">Search:</label>
            <input type="text" class="form-control" id="searchBox" oninput="searchBooks()" style="width: 150px;">
        </div>
        <!-- Add Book button -->
        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addModal">Add Book</button>

        <!-- Books table -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Year Published</th>
                    <th>Book Type</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="books-table-body"></tbody>
        </table>
    </div>

    <!-- Add Book Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Book Form -->
                    <form id="addBookForm">
                        <div class="form-group">
                            <label for="addName">Name:</label>
                            <input type="text" class="form-control" id="addName" required>
                        </div>
                        <div class="form-group">
                            <label for="addAuthor">Author:</label>
                            <input type="text" class="form-control" id="addAuthor" required>
                        </div>
                        <div class="form-group">
                            <label for="addYear">Year Published:</label>
                            <input type="number" class="form-control" id="addYear" required>
                        </div>
                        <div class="form-group">
                            <label for="addType">Book Type:</label>
                            <select class="form-control" id="addType" required>
                                <option value="1">up to 10 days loan</option>
                                <option value="2">up to 5 days loan</option>
                                <option value="3">up to 2 days loan</option>
                            </select>
                        </div>
                        <!-- Submit button for adding a book -->
                        <button type="submit" class="btn btn-primary">Add Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Book Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Book Form -->
                    <form id="editBookForm">
                        <input type="hidden" id="editBookId">
                        <div class="form-group">
                            <label for="editName">Name:</label>
                            <input type="text" class="form-control" id="editName" required>
                        </div>
                        <div class="form-group">
                            <label for="editAuthor">Author:</label>
                            <input type="text" class="form-control" id="editAuthor" required>
                        </div>
                        <div class="form-group">
                            <label for="editYear">Year Published:</label>
                            <input type="number" class="form-control" id="editYear" required>
                        </div>
                        <div class="form-group">
                            <label for="editType">Book Type:</label>
                            <select class="form-control" id="editType" required>
                                <option value="1">up to 10 days loan</option>
                                <option value="2">up to 5 days loan</option>
                                <option value="3">up to 2 days loan</option>
                            </select>
                        </div>
                        <!-- Save Changes button for editing a book -->
                        <button type="button" class="btn btn-primary" onclick="saveChanges()">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="container mt-5">
        <h2>Customers</h2>
        <!-- Search form -->
        <div class="form-group">
            <label for="customerSearchOption">Search by:</label>
            <select class="form-control" id="customerSearchOption" style="width: 150px;">
                <option value="name">Name</option>
                <option value="id">ID</option>
                <option value="city">City</option>
                <option value="age">Age</option>
            </select>
            <label for="customerSearchBox">Search:</label>
            <input type="text" class="form-control" id="customerSearchBox" oninput="searchCustomers()"
                style="width: 150px;">
        </div>
        <!-- Add Customer button -->
        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addCustomerModal">Add Customer</button>

        <!-- Customers table -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>city</th>
                    <th>age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="customers-table-body"></tbody>
        </table>
    </div>

    <!-- Add Customer Modal -->
    <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add Customer Form -->
                    <form id="addCustomerForm">
                        <div class="form-group">
                            <label for="addCustomerName">Name:</label>
                            <input type="text" class="form-control" id="addCustomerName" required>
                        </div>
                        <div class="form-group">
                            <label for="addCustomerCity">City:</label>
                            <input type="text" class="form-control" id="addCustomerCity" required>
                        </div>
                        <div class="form-group">
                            <label for="addCustomerAge">Age:</label>
                            <input type="number" class="form-control" id="addCustomerAge" required>
                        </div>
                        <!-- Submit button for adding a customer -->
                        <button type="submit" class="btn btn-primary">Add Customer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Customer Modal -->
    <div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Customer Form -->
                    <form id="editCustomerForm">
                        <input type="hidden" id="editCustomerId">
                        <div class="form-group">
                            <label for="editCustomerName">Name:</label>
                            <input type="text" class="form-control" id="editCustomerName" required>
                        </div>
                        <div class="form-group">
                            <label for="editCustomerCity">City:</label>
                            <input type="text" class="form-control" id="editCustomerCity" required>
                        </div>
                        <div class="form-group">
                            <label for="editCustomerAge">Age:</label>
                            <input type="number" class="form-control" id="editCustomerAge" required>
                        </div>
                        <!-- Save Changes button for editing a customer -->
                        <button type="button" class="btn btn-primary" onclick="saveCustomerChanges()">Save
                            Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Loan Book Modal -->
    <div class="modal fade" id="loanBookModal" tabindex="-1" role="dialog" aria-labelledby="loanBookModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loanBookModalLabel">Loan Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Loan Book Form -->
                    <form id="loanBookForm">
                        <div class="form-group">
                            <label for="loanBookID">Select a Book:</label>
                            <select class="form-control" id="loanBookID" required>
                                <!-- Book options will be populated using JavaScript -->
                            </select>
                        </div>

                        <!-- Submit button for loaning the book -->
                        <button type="submit" class="btn btn-primary">Loan Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer Loans Modal -->
    <div class="modal fade" id="customerLoansModal" tabindex="-1" role="dialog"
        aria-labelledby="customerLoansModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerLoansModalLabel">Customer Loans</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Table to display customer's loans -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Book Title</th>
                                <th>Loan Date</th>
                                <th>Return Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="customerLoansModalBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <script>

        // books:

        const apiUrl = 'http://127.0.0.1:5000/';
        let books = [];

        const fetchBooks = async () => {
            try {
                const response = await axios.get(`/books`);
                books = response.data;
                displayBooks(books);
            } catch (error) {
                console.error('Error fetching books:', error);
            }
        };

        const displayBooks = (books) => {
            const booksTableBody = document.getElementById('books-table-body');
            booksTableBody.innerHTML = '';

            books.forEach(book => {
                const typeMapping = {
                    1: 'up to 10 days loan',
                    2: 'up to 5 days loan',
                    3: 'up to 2 days loan'
                };

                const row = `
                <tr>
                    <td>${book.id}</td>
                    <td>${book.title}</td>
                    <td>${book.author}</td>
                    <td>${book.year_published}</td>
                    <td>${typeMapping[book.book_type]}</td>
                    <td>${book.quantity}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="deleteBook(${book.id})">Delete</button>
                        <button class="btn btn-primary btn-sm ml-2" onclick="editBook(${book.id})">Edit</button>
                    </td>
                </tr>
            `;
                booksTableBody.innerHTML += row;
            });
        };

        const searchBooks = () => {
            console.log('searchBooks function called');
            const searchOption = document.getElementById('searchOption').value;
            const searchText = document.getElementById('searchBox').value.toLowerCase();

            if (!searchText.trim()) {
                // If the search box is empty, display all books
                displayBooks(books);
                return;
            }

            const filteredBooks = books.filter(book => {
                const fieldValue = book[searchOption];

                if (typeof fieldValue === 'number' || typeof fieldValue === 'string') {
                    const fieldString = fieldValue.toString().toLowerCase();
                    return fieldString.startsWith(searchText);
                }

                return fieldValue === searchText;
            });

            displayBooks(filteredBooks);
        };

        const addBook = (event) => {
            event.preventDefault();
            console.log("start adding");
            const title = document.getElementById('addName').value;
            const author = document.getElementById('addAuthor').value;
            const yearPublished = document.getElementById('addYear').value;
            const bookType = document.getElementById('addType').value;
            console.log(name, author, yearPublished, bookType);

            axios.post(`${apiUrl}/books`, {
                name: title,
                author,
                year_published: yearPublished,
                book_type: bookType
            })
                .then(response => {
                    fetchBooks(); // Refresh the book list after adding
                    $('#addModal').modal('hide');
                    // Reset the form fields
                    document.getElementById('addName').value = '';
                    document.getElementById('addAuthor').value = '';
                    document.getElementById('addYear').value = '';
                })
                .catch(error => console.error('Error adding book:', error));
        };

        const deleteBook = (bookId) => {
            // Display confirmation dialog
            const isConfirmed = window.confirm("Are you sure you want to delete this book?");

            // Check if the user confirmed
            if (isConfirmed) {
                axios.delete(`${apiUrl}/books/${bookId}`)
                    .then(response => fetchBooks())
                    .catch(error => console.error('Error deleting book:', error));
            }
        };

        const editBook = (bookId) => {
            const book = books.find(b => b.id === bookId);
            document.getElementById('editBookId').value = book.id;
            console.log("id added");
            document.getElementById('editName').value = book.title;
            console.log("title added");
            document.getElementById('editAuthor').value = book.author;
            console.log("author added");
            document.getElementById('editYear').value = book.year_published;
            console.log("year_published added");
            document.getElementById('editType').value = book.book_type;
            console.log("book_type added");
            $('#editModal').modal('show');
        };

        const saveChanges = () => {
            const bookId = document.getElementById('editBookId').value;
            const name = document.getElementById('editName').value;
            const author = document.getElementById('editAuthor').value;
            const yearPublished = document.getElementById('editYear').value;
            const bookType = document.getElementById('editType').value;

            axios.put(`${apiUrl}/books/${bookId}`, {
                title: name,
                author,
                year_published: yearPublished,
                book_type: bookType
            })
                .then(response => {
                    fetchBooks();
                    $('#editModal').modal('hide');
                })
                .catch(error => console.error('Error updating book:', error));
        };

        // Add event listeners
        document.getElementById('addBookForm').addEventListener('submit', addBook);
        document.getElementById('searchBox').addEventListener('input', searchBooks);

        // Initial fetch of books when the page loads
        fetchBooks();




        // customers:

        const apiUrl2 = 'http://127.0.0.1:5000'
        let customers = [];

        const fetchCustomers = async () => {
            try {
                const response = await axios.get(`${apiUrl2}/customers`);
                customers = response.data;
                displayCustomers(customers);
            } catch (error) {
                console.error('Error fetching customers:', error);
            }
        };

        const displayCustomers = (customers) => {
            const customersTableBody = document.getElementById('customers-table-body');
            customersTableBody.innerHTML = '';

            customers.forEach(customer => {
                const row = `
            <tr>
                <td>${customer.id}</td>
                <td>${customer.name}</td>
                <td>${customer.city}</td>
                <td>${customer.age}</td>
                <td>
                    <button class="btn btn-danger btn-sm" onclick="deleteCustomer(${customer.id})">Delete</button>
                    <button class="btn btn-primary btn-sm ml-2" onclick="editCustomer(${customer.id})">Edit</button>
                    <button class="btn btn-primary btn-sm ml-2" data-customer-id="${customer.id}" data-toggle="modal" data-target="#loanBookModal" onclick="loanBook(${customer.id})" >Loan Book</button>
                    <button class="btn btn-primary btn-sm ml-2" data-toggle="modal" data-target="#customerLoansModal" onclick="fetchCustomerLoans(${customer.id})">View Loans</button>
                </td>
            </tr>
        `;
                customersTableBody.innerHTML += row;
            });
        };

        const searchCustomers = () => {
            const searchOption = document.getElementById('customerSearchOption').value;
            const searchText = document.getElementById('customerSearchBox').value.toLowerCase();

            if (!searchText.trim()) {
                // If the search box is empty, display all customers
                displayCustomers(customers);
                return;
            }

            const filteredCustomers = customers.filter(customer => {
                const fieldValue = customer[searchOption];

                if (typeof fieldValue === 'number' || typeof fieldValue === 'string') {
                    const fieldString = fieldValue.toString().toLowerCase();
                    return fieldString.startsWith(searchText);
                }

                return fieldValue === searchText;
            });

            displayCustomers(filteredCustomers);
        };

        const addCustomer = (event) => {
            event.preventDefault();

            const name = document.getElementById('addCustomerName').value;
            const city = document.getElementById('addCustomerCity').value;
            const age = document.getElementById('addCustomerAge').value;

            axios.post(`${apiUrl2}/customers`, {
                name,
                city,
                age
            })
                .then(response => {
                    fetchCustomers(); // Refresh the customer list after adding
                    $('#addCustomerModal').modal('hide');
                    // Reset the form fields
                    document.getElementById('addCustomerName').value = '';
                    document.getElementById('addCustomerCity').value = '';
                    document.getElementById('addCustomerAge').value = '';
                })
                .catch(error => console.error('Error adding customer:', error));
        };

        const deleteCustomer = (customerId) => {
            // Display confirmation dialog
            const isConfirmed = window.confirm("Are you sure you want to delete this customer?");

            // Check if the user confirmed
            if (isConfirmed) {
                axios.delete(`${apiUrl2}/customers/${customerId}`)
                    .then(response => fetchCustomers())
                    .catch(error => console.error('Error deleting customer:', error));
            }
        };

        const saveCustomerChanges = () => {
            const customerId = document.getElementById('editCustomerId').value;
            const name = document.getElementById('editCustomerName').value;
            const city = document.getElementById('editCustomerCity').value;
            const age = document.getElementById('editCustomerAge').value;

            axios.put(`${apiUrl2}/customers/${customerId}`, {
                name,
                city,
                age
            })
                .then(response => {
                    fetchCustomers();
                    $('#editCustomerModal').modal('hide');
                })
                .catch(error => console.error('Error updating customer:', error));
        };

        const editCustomer = (customerId) => {
            const customer = customers.find(c => c.id === customerId);
            document.getElementById('editCustomerId').value = customer.id;
            document.getElementById('editCustomerName').value = customer.name;
            document.getElementById('editCustomerCity').value = customer.city;
            document.getElementById('editCustomerAge').value = customer.age;
            $('#editCustomerModal').modal('show');
        };

        document.getElementById('addCustomerForm').addEventListener('submit', addCustomer);

        fetchCustomers();

        // ...

        // Function to fetch available books for loan

        const fetchLoans = async () => {
            try {
                const response = await axios.get(`${apiUrl}/loans`);
                const loans = response.data;
                const loansModalBody = document.getElementById('loanManagementModalBody');
                loansModalBody.innerHTML = '';

                if (loans.length === 0) {
                    loansModalBody.innerHTML = '<tr><td colspan="4">No loans found.</td></tr>';
                } else {
                    loans.forEach(loan => {
                        const returnButton = `
                    <button class="btn btn-primary btn-sm" onclick="returnLoan(${loan.id})">Return</button>
                `;

                        const row = `
                    <tr>
                        <td>${loan.id}</td>
                        <td>${loan.book_title}</td>
                        <td>${loan.loan_date}</td>
                        <td>${loan.return_date ? loan.return_date : returnButton}</td>
                    </tr>
                `;

                        loansModalBody.innerHTML += row;
                    });
                }
            } catch (error) {
                console.error('Error fetching loans:', error);
            }
        };



        const fetchAvailableBooks = async () => {
            try {
                const response = await axios.get(`${apiUrl}/books`);
                const availableBooks = response.data.filter(book => book.quantity > 0);
                const loanBookSelect = document.getElementById('loanBookID');
                loanBookSelect.innerHTML = ''; // Clear the select options

                availableBooks.forEach(book => {
                    const option = document.createElement('option');
                    option.value = book.id;
                    option.textContent = `${book.title} by ${book.author}`;
                    loanBookSelect.appendChild(option);
                });
            } catch (error) {
                console.error('Error fetching available books:', error);
            }
        };


        const loanBook = (customerId) => {
            // Fetch available books before showing the loan modal
            fetchAvailableBooks();

            // Show the loan book modal
            $('#loanBookModal').modal('show');

            // Set the customer's ID as a data attribute in the form
            const loanBookForm = document.getElementById('loanBookForm');
            loanBookForm.setAttribute('data-customer-id', customerId);
        };

        // Function to submit a book loan request
        const loanBookSubmit = async (event) => {
            event.preventDefault();
            const customerId = event.target.getAttribute('data-customer-id');
            const bookId = document.getElementById('loanBookID').value;

            try {
                await axios.post(`${apiUrl}/loans`, {
                    cust_id: customerId,
                    book_id: bookId
                });

                // Decrease the book's quantity (assuming you have the book data in the "books" array)
                const book = books.find(b => b.id === Number(bookId));
                if (book) {
                    book.quantity -= 1;
                    displayBooks(books); // Update the books table
                }

                // Clear the loan form and close the modal
                document.getElementById('loanBookForm').reset();
                $('#loanBookModal').modal('hide');
            } catch (error) {
                console.error('Error loaning the book:', error);

                // Display a user-friendly error message
                alert('An error occurred while loaning the book. Please try again later.');
            }
        };

        // Add an event listener for the loan book form
        document.getElementById('loanBookForm').addEventListener('submit', loanBookSubmit);



        const fetchCustomerLoans = async (customerId) => {
            try {
                const loansResponse = await axios.get(`${apiUrl}/loans`);
                const loans = loansResponse.data;
                const customerLoans = loans.filter(loan => loan.cust_id == customerId);
                const loansModalBody = document.getElementById('customerLoansModalBody');
                loansModalBody.innerHTML = '';
                console.log(customerId);
                if (customerLoans.length == 0) {
                    loansModalBody.innerHTML = '<tr><td colspan="4">No loans found for this customer.</td></tr>';
                } else {
                    customerLoans.forEach(loan => {
                        const returnButton = `
                        <button class="btn btn-primary btn-sm" onclick="returnLoan(${loan.id}, ${customerId})">Return</button>

                `;

                        const row = `
                    <tr>
                        <td>${loan.id}</td>
                        <td>${loan.book_title}</td>
                        <td>${loan.loan_date}</td>
                        <td>${loan.return_date ? loan.return_date : returnButton}</td>
                    </tr>
                `;

                        loansModalBody.innerHTML += row;
                    });
                }
            } catch (error) {
                console.error('Error fetching customer loans:', error);
            }
        };


        // Function to check if a loan is on time or late based on return date and book type
        const checkLoanStatus = (returnDate, bookType) => {
            // You can implement your logic here based on book type and return date
            // Return true if the book is on time, and false if it's late
            // Example logic: compare returnDate with the due date based on book type
            const dueDate = new Date(loan.loan_date);

            // Calculate due date based on book type
            if (bookType === 1) {
                dueDate.setDate(dueDate.getDate() + 10);
            } else if (bookType === 2) {
                dueDate.setDate(dueDate.getDate() + 5);
            } else if (bookType === 3) {
                dueDate.setDate(dueDate.getDate() + 2);
            }

            return new Date(returnDate) <= dueDate;
        };


        const returnLoan = (loanId, customerId) => {
    const isConfirmed = window.confirm("Are you sure you want to return this book?");
    console.log(loanId);
    console.log(customerId);
    if (isConfirmed) {
        axios.put(`${apiUrl}/loans/${loanId}`, { loanId }, {
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                fetchCustomerLoans(customerId); // Refresh the loan list for the specific customer
            })
            .catch(error => {
                console.error('Error returning loan:', error);
                alert('An error occurred while returning the book. Please try again later.');
            });
        alert('Book returned successfully');
    }
};



    </script>
</body>

</html>